<!DOCTYPE HTML>
<html>
 <head>
    <link rel="stylesheet" type="text/css" href="testVue.css" />
    <script src="vue.js" ></script>
    <meta charset="utf-8" />
    <script>
        Vue.component("my-movable",{
        template:'\
        <div class="video-container" :class="mycontainer">\
        <a :href="hreflink" target="_blank" >\
        <img :src="srclink" />\
        <div class="movable-pic-container" v-on:mouseover="startMovable($event)" v-on:mousemove="move($event)" v-on:mouseout="hideMovable">\
        <p v-for="(item,index) in bullets" class="row-bullet" :class="{\'second-row\':isSecondRow(index)}" :style="bulletStyle[index]" ref="p">{{bullets[index]}}</p>\
        <div class="percent-bar">\
        <div class="percent" :style="{width:ratio+\'%\'}"></div>\
        </div>\
        <div class="movable-pic" :style="[bgposition,backgroundImage]">\
        </div>\
        </div>\
        <div class="later-watch">\
        </div>\
        </a>\
        </div>\
        ',
        props:{
            parameterObject:{
                type:Object
                // default:function(){
                //     return {
                //         num: "",
                //         srclink: 'movablevideo.webp',
                //         imgsrc: '',
                //         bulletURL: "",
                //         hreflink: ""
                //     }
                // }
            },
            mycontainer:{
                type:String
            }
        },
        data:function(){
            return {
               left:0,
               top:10,
               startLeft:0,
               startTop:0,
               width:160,
               height:90,
               hreflink:this.parameterObject.hreflink,
               num:this.parameterObject.num,
              // num:48,
               numPerRow:10,
               ratio:0,
               srclink:this.parameterObject.srclink,
               //srclink:"movablevideo.webp",
              // backgroundImgSrc:"movablepic2.webp",
               backgroundImgSrc:this.parameterObject.imgsrc,
               bgposition:{
                backgroundPositionX:"0px",
                backgroundPositionY:"0px"
               },
               showMovablePic:false,
               timeoutList:[],
               looptimeout:null,
               timeInterval:null,
               bulletStyle:[],
               bulletURL:this.parameterObject.bulletURL,
               bullets:['呵呵呵呵','哈哈航昂昂哈','好好学习','秦时明月汉时关','粒粒皆辛苦']
            }
        },
        methods:{
              startMovable:function(event){
                this.setNewPosition(event); //根据鼠标的位置，直接定位到对应的背景图片的位置
                this.showBullet();//弹幕准备发射
              },
              move:function(event){
                this.setNewPosition(event); //这个事件只会触发背景图片位置的切换。
              },
              /*根据鼠标的水平位置，设置背景图片的位置，来模拟预览*/
              setNewPosition:function(event){
                  var offset=event.offsetX;
                  this.startTop=event.offsetY;
                  this.ratio = offset*100.0/this.width;
                  var sequence = Math.floor(offset*this.num/(this.width+1));
                  var sequenceV = Math.floor(sequence/this.numPerRow);
                  var sequenceH = sequence%this.numPerRow;
                  this.left = 0-sequenceH*this.width;
                  this.top = 0- sequenceV*this.height;
                  console.log("sequence is "+sequenceH+" "+sequenceV);
                  this.bgposition.backgroundPositionX=this.left+"px";
                  this.bgposition.backgroundPositionY=this.top+"px";
              },
              /*弹幕第一行还是第二行*/
              isSecondRow:function(index){
                  return index%2!=0;
              },
              /**/
              reloadBullets:function(){
                 this.timeoutList.forEach(function(timeout){//清除没跑完的setTimeout
                     clearTimeout(timeout);
                 });
                 this.timeoutList=[];                  
                 this.bulletStyle.splice(0,this.bulletStyle.length); //清除新设定的目标位置
              },
              /*将已经设置了bulletstyle的timeout保留，还未执行的timeout取消掉*/
              hideMovable:function(){
                  var start = this.bulletStyle.length;   
                  var end = this.timeoutList.length; 
                 for(var i = start;i<end; i ++){
                     clearTimeout(this.timeoutList[i]);
                 }
                 this.timeoutList.splice(start,end-start);
                 clearTimeout(this.looptimeout);
              },
              showBullet:function(){
                var bulletList = this.$refs.p;
                var that = this;
                var start = this.bulletStyle.length;
                if(start==bulletList.length&&start>0){//弹幕已经弹完，需要弄一个循环
                    this.looptimeout = setTimeout( function(){
                              that.reloadBullets();
                              that.showBullet();
                          },7000);
                   return;
                }
                for(var i = start ; i < bulletList.length; i ++){
                  this.timeoutList.push(setTimeout(function(index){
                     return function(){
                     var length = bulletList[index].clientWidth;
                     var style={};
                     style.left="-"+length+"px";
                     style.transition="all 5s linear";
                      that.bulletStyle.push(style);
                      console.log("index is "+index);
                      if(index==bulletList.length-1){
                          that.looptimeout=setTimeout(function(){
                              that.reloadBullets();
                              that.showBullet();
                          },7000);
                      }
                     };
                  }(i),(i-start)*1000));
                }
              }
             },
             computed:{
                backgroundImage:function(){
                    return {
                        background:"url('"+this.backgroundImgSrc+"') 0 0 no-repeat"
                    };
                }
             }

       });

       window.onload=function(){
    //    var gameVue = new Vue({
    //        el:"#game",
    //        data:{
    //         gamepanelshow:true,
    //         picshow:false,
    //         srclink:"",
    //         largeGame:{hreflink:"http://game.bilibili.com/fgo/fes/",srclink:"fate2.gif"},
    //         middleGameList:[{hreflink:"",srclink:"game.gif",desc:"碧蓝航线"},{hreflink:"",srclink:"game.gif",desc:"寂暗星空"},{hreflink:"",srclink:"game.gif",desc:"修真世界"}],
    //         smallGameList:[{hreflink:"",desc:"决战，平安京",srclink:"pkanjk.png"},{hreflink:"",desc:"武装色霸气路飞",srclink:"hjkuke.jpg"},{hreflink:"",desc:"九刀流阿修罗",srclink:"capcom.png"},{hreflink:"",desc:"赤魔疯脚",srclink:"pkanjk.png"},
    //         {hreflink:"",desc:"王之蔑视",srclink:"hjkuke.jpg"},{hreflink:"",desc:"大玉螺旋丸",srclink:"pkanjk.png"},{hreflink:"",desc:"重建罗生门",srclink:"capcom.png"}],
    //         liveList:[{hreflink:"",srclink:"host1.jpg",host:"梦醒三年梦"},{hreflink:"",srclink:"host2.jpg",host:"今昔是何年"},{hreflink:"",srclink:"host3.jpg",host:"乘风归去"},{hreflink:"",srclink:"host4.jpg",host:"琼楼玉宇"},{hreflink:"",srclink:"host5.jpg",host:"高处不胜寒"},{hreflink:"",srclink:"host6.jpg",host:"何似在人间"}],

    //       },
    //       methods:{
    //         showPic:function(index){
    //             this.srclink=this.smallGameList[index].srclink;
    //             this.picshow=true;
    //         },
    //         hidePic:function(){
    //             this.picshow=false;
    //         }
    //       }
    //    });
      
       var movableVue = new Vue({
           el:"#movable",
           data:{
            pobject:{
            num:48,
            srclink:'movablevideo.webp',
            imgsrc:'movablepic2.webp',
            bulletURL:"",
            hreflink:""
            },
            firstExample:"first-example",
               left:0,
               top:10,
               startLeft:0,
               startTop:0,
               width:160,
               height:90,
               num:41,
               numPerRow:10,
               ratio:0,
               backgroundImage:{
                background:'url("movablepic.webp") 0 0 no-repeat'
               },
               bgposition:{
                backgroundPositionX:"0px",
                backgroundPositionY:"0px"
               },
               showMovablePic:false,
               timeoutList:[],
               looptimeout:null,
               timeInterval:null,
               bulletStyle:[],
               bullets:['好可爱','小姐姐跳的真好','这么可爱一定是男孩子','笑哭惹','疯狂打call','lllll']
           },
           methods:{
              
            startMovable:function(event){
              this.setNewPosition(event); //根据鼠标的位置，直接定位到对应的背景图片的位置
              this.showBullet();//弹幕准备发射
            },
            move:function(event){
              this.setNewPosition(event); //这个事件只会触发背景图片位置的切换。
            },
            /*根据鼠标的水平位置，设置背景图片的位置，来模拟预览*/
            setNewPosition:function(event){
                var offset=event.offsetX;
                this.startTop=event.offsetY;
                this.ratio = offset*100.0/this.width;
                var sequence = Math.floor(offset*this.num/(this.width+1));
                var sequenceV = Math.floor(sequence/this.numPerRow);
                var sequenceH = sequence%this.numPerRow;
                this.left = 0-sequenceH*this.width;
                this.top = 0- sequenceV*this.height;
                console.log("sequence is "+sequenceH+" "+sequenceV);
                this.bgposition.backgroundPositionX=this.left+"px";
                this.bgposition.backgroundPositionY=this.top+"px";
            },
            /*弹幕第一行还是第二行*/
            isSecondRow:function(index){
                return index%2!=0;
            },
            /**/
            reloadBullets:function(){
               this.timeoutList.forEach(function(timeout){//清除没跑完的setTimeout
                   clearTimeout(timeout);
               });
               this.timeoutList=[];                  
               this.bulletStyle.splice(0,this.bulletStyle.length); //清除新设定的目标位置
            },
            /*将已经设置了bulletstyle的timeout保留，还未执行的timeout取消掉*/
            hideMovable:function(){
                var start = this.bulletStyle.length;   
                var end = this.timeoutList.length; 
               for(var i = start;i<end; i ++){
                   clearTimeout(this.timeoutList[i]);
               }
               this.timeoutList.splice(start,end-start);
               clearTimeout(this.looptimeout);
            },
            showBullet:function(){
              var bulletList = this.$refs.p;
              var that = this;
              var start = this.bulletStyle.length;
              if(start==bulletList.length&&start>0){//弹幕已经弹完，需要弄一个循环
                  this.looptimeout = setTimeout( function(){
                            that.reloadBullets();
                            that.showBullet();
                        },7000);
                 return;
              }
              for(var i = start ; i < bulletList.length; i ++){
                this.timeoutList.push(setTimeout(function(index){
                   return function(){
                   var length = bulletList[index].clientWidth;
                   var style={};
                   style.left="-"+length+"px";
                   style.transition="all 5s linear";
                    that.bulletStyle.push(style);
                    console.log("index is "+index);
                    if(index==bulletList.length-1){
                        that.looptimeout=setTimeout(function(){
                            that.reloadBullets();
                            that.showBullet();
                        },7000);
                    }
                   };
                }(i),(i-start)*1000));
              }
            }
           }
       })
       }
    </script>
 </head>
 <body>
   <!--<div id="game" class="game-panel">
       <div class="left-game-panel " v-show="gamepanelshow">
            <a :href="largeGame.hreflink" class="leftup-game-panel" target="_blank" >
                <img :src="largeGame.srclink" />
            </a>
            <ul class="small-game-list">
                <li  class="small-game-item" v-for="(item,index) in middleGameList" v-bind:key="index" >
                    <a :href="item.hreflink" class="small-game-link">
                        <img :src="item.srclink" />
                        <p class="game-desc">{{item.desc}}</p>
                    </a>     
                </li>
            </ul>
       </div>
       <div class="right-game-panel">
          <div class="rightup-game-panel">
             <img src="foreshow.gif" class="rightup-game-img" />
             <a href="" target="_blank" class="forum-link">
                 游戏论坛
             </a>
          </div>
          <ul class="rightup-game-list">
              <li  v-for="(item,index) in smallGameList" v-bind:key="index" class="rightup-game-item" v-on:mouseover="showPic(index)" v-on:mouseout="hidePic">
                  <a :href="item.hreflink" class="rightup-game-link">
                     <span>{{item.desc}}</span>
                  </a>
              </li>
          </ul>
       </div>
       <div class="rightup-pic" v-show="picshow">
         <img :src="srclink" />
       </div>
       <div class="header-live-panel">
        <div class="header-live-lf">
           <p class="live-title">热门直播:</p>
           <div class="hot-live" >
              <a  class="hot-live-item" v-for="(item,index) in liveList" v-bind:key="index" :href="item.hreflink">
                    <img :src="item.srclink" />
                    <i>LIVE</i>
                    <span>{{item.host}}</span>
              </a>
              
             </div>
        </div>
        <div class="header-live-rf">
           <p class="live-title title2">热门活动:</p>
           <div class="header-live-activity">
               <a href="" target="_blank" title="" >
                   <img src="bilibili_activity4.jpg" />
               </a>
           </div>
        </div>
      </div>
   </div>
   <ul class="upload-item">
      <li>
        <a href="" target="_blank" >
            <i class="bili-icon rect art"></i>
            <span>专栏投稿</span>
        </a>
      </li>
      <li>
        <a href="" target="_blank" >
            <i class="bili-icon rect audio"></i>
            <span>音频投稿</span>
        </a>
      </li>
      <li>
        <a href="" target="_blank" >
            <i class="bili-icon rect video"></i>
            <span>视频投稿</span>
        </a>
      </li>
      <li>
        <a href="" target="_blank" >
            <i class="bili-icon rect vote"></i>
            <span>投稿管理</span>
        </a>
      </li>
      <li>
        <a href="" target="_blank" >
            <i class="bili-icon rect creation"></i>
            <span>创作中心</span>
        </a>
      </li>
   </ul>
-->

<div id="movable">
<div  class="video-container">
<a href="http" target="_blank" title="">
<img src="movablevideo.webp" />
<div   class="movable-pic-container" v-on:mouseover="startMovable($event)" v-on:mousemove="move($event)" v-on:mouseout="hideMovable" >
    <p v-for="(item,index) in bullets" class="row-bullet" :class="{'second-row': isSecondRow(index)}" :style="bulletStyle[index]" ref="p">{{bullets[index]}}</p>
    <div class="percent-bar">
        <div class="percent" :style="{width:ratio+'%'}"></div>
    </div>
    <div class="movable-pic" :style="[bgposition,backgroundImage]" >
    </div>
   
</div>
<div class="later-watch">
</div>
</a>

</div>
<my-movable :parameter-object="pobject" v-bind:mycontainer="firstExample"  >
<!--attribute is case-insensitive sad  -->
</my-movable>
</div>
 </body>
</html>