
.bili-wrapper{
    width:1160px;
    margin:0 auto;
}
i{
    background-image: url("backgroundIcon.png");
    width:17px;
    height:12px;
    display:block;
}
ul{
    padding:0;
}
a{
    text-decoration: none;
}
#titles{
    position: relative;
    height:59px;
    z-index:6;
    margin-top:4px;
}
.horizontal-list{
    display:inline-block;
    position:relative;
    width:40px;
    list-style: none;
    margin-right: 18px;
    z-index:100;
}
.homelink{
    text-decoration: none;
    font-size: 12px;
    color:black;
    display:block;
}
.home-icon{
    position:relative;
    display: block;
    width: 24px;
    height: 24px;
    background-position: -660px -1170px;
    margin:0 auto;
}
.horizontal-list:hover .vertical-list-container{
    display:block;
}
.horizontal-name{
  position: relative;
  width:100%;
  font-size: 12px;
  text-align: center;
  background-color: white;
  text-decoration: none;
  display: block;
  padding:0;
  margin:0;
}
.horizontal-number{
    position: absolute;
    height:14px;
    width:100%;
    top:8px;
    line-height: 14px;
    text-align: center;
    color:black;
    margin:0;
}
.num{
    color:#fff;
    background-color: #ffafc9;
    border-radius: 3px;
    height:12px;
    font-family: sans-serif;
    font-size: 12px;
    padding:0 1px;
}
.name{
    width:100%;
    height:40px;
    font-size:12px;
    line-height: 50px;
    text-align: center;
    color:black;
    vertical-align: bottom;
    margin:0;
    padding-top:8px;
}
.vertical-list-container{
 position:absolute;
 top:40px;
 left:-10px;
 list-style: none;
 background-color:white;
 display: none;
 border-radius: 6px;
 z-index:101;
}

.horizontal-list-container{
 position:relative;
 list-style: none;
 margin:0;
}
.vertical-list{
    box-sizing: content-box;
    position:relative;
    display:block;
    padding:2px;
    min-width:120px;
    line-height: 20px;
    font-size: 12px;
    overflow:hidden;
    padding:0;
    margin:0;
}
.vertical-list:hover{
    background-color: #e5e9ef;
}
.iconBefore{
    position:absolute;
    display:inline-block;
    width:18px;
    height:20px;
    left:-10px;
    top:8px;
    background: url("icons2.png") 0 -1621px no-repeat;
    
}
.link-style{
    position:relative;
    left:25px;
    display: inline-block;
    text-decoration: none;
    color:black;
    padding: 5px 60px 5px 2px;
    white-space: nowrap;
}
.link-style,.iconBefore{
    transition:all 0.4s ease;
}
.iconAfter{
    position: absolute;
    display: inline-block; 
    width:18px;
    height:20px;
    right:35px;
    top:5px;
    background: url("icons2.png") 0 -1581px no-repeat;
}
.move-right{
    transform:translateX(10px);
}
.fade-enter-active{
    transition:all .3s cubic-bezier(1.0,0.5,0.8,1.0);
 }
 .fade-leave-active{
    transition:all .3s ease;
 }
 .fade-enter, .fade-leave-to{
   transform:translateX(20px);  
   opacity:0;
 }
 .side-link{
     position:relative;
     display: inline-block;
     overflow: hidden;
 }
 .s-column{
    position:relative;
    display: block;
    width: 18px;
    height: 18px;
    margin: 3px auto 2px;
    background: url("backgroundIcon.png") -87px -1814px no-repeat;
 }
 .side-link, .square, .live,.classroom, .homelink span{
    margin:0;
    font-size:12px;
    color:black;
    display:block;
    text-align: center;
 }
 .side-link:hover span{
     color:#00a1d6;
 }
 .square{
    display: block;
    width: 18px;
    height: 18px;
    margin: 3px auto 2px;
    background: url("backgroundIcon.png") -87px -2006px no-repeat;
 }
 .live{
    display: block;
    width: 18px;
    height: 18px;
    margin: 3px auto 2px;
    background: url("backgroundIcon.png") -87px -1878px no-repeat;
 }
 .blackroom{
    display: block;
    width: 18px;
    height: 18px;
    margin: 3px auto 2px;
    background: url("backgroundIcon.png") -87px -1942px no-repeat;
 }
 .nav-gif{
     position: absolute;
     right:0;
     top:0;
     height: 50px;
 }
 .gif-container{
     width:69px;
     height:40px;
     display: inline-block;
 }
 .gif-container img{
     width:100%;
     height:100%;
 }
/*=====以上是横版list的css*/
/*=========这个是广场下面的css*/
.side-nav{
    padding: 2px 0px;
}
.horizontal-list:hover .square-content{
    display:block;
}
.square-content{
 position:absolute;
 left:0;
 top:40px;
 left:-10px;
 display:none;
 width:387px;
 height:188px;
 background-color:white;
 border-radius: 6px;
 padding: 20px 0 20px 0;
 z-index:10;
}
.left-square{
    width:107px;
    list-style:none;
    position:absolute;
    margin:0;
    padding:0;
    border-right: 1px solid grey;
    left:0;
}
.left-square-item{
    position: relative;
    width:100%;
    text-align: left;
    line-height: 12px;
    font-size: 12px;
    overflow: hidden;
    height:auto;
}
.left-square-link{
    text-decoration: none;
    color:black;
    display: inline-block;
    position:relative;
    width:100%;
    transition: all 0.2s ease;
    padding: 5px 0 5px 10px;
}

.left-icon{
    width: 16px;
    height: 13px;
    margin-right: 4px;
    margin-top: 4px;
    vertical-align: top;
    display: inline-block;
    background-image: url("backgroundIcon.png");
    vertical-align: text-bottom;
}
.icon-vip,.icon-activity{
    background-position: -280px -1179px;
}
.icon-game{
    background-position: -279px -1241px;
}

.icon-news{
    background-position: -344px -1178px;
}
.icon-painter{
    background-position: -280px -1370px;
}
.icon-tv{
    background-position: -280px -1433px;
}

.left-square-item:hover {
 background-color: #e5e9ef;
}
.left-square-item:hover:hover .left-square-link{
 transform: translateX(10px);
}

.right-square{
    position:absolute;
    width:240px;
    height:188px;
    padding:0 20px 0 19px;
    border-left: 1px solid #e5e9ef;
    display: inline-block;
    right:0;

}
.right-square-item{
    margin: 5px 0;
}
.right-square-item img{
  width:240px;
  height:84px;
  border-radius: 4px;
  display:block;
}
.lazy-img{
    
    width: 100%;
    height: 100%;
    display: inline-block;
}
/*直播css*/
.horizontal-list:hover .live-panel{
    display:block;
}
.live-panel{
    width:350px;
    display:block;
    position:absolute;
    top:40px;
    overflow:hidden;
    left:-10px;
    display:none;
    background-color: white;
    padding:20px 0 10px 0;
    border-radius: 6px;
}
.live-panel-left{
    position:relative;
    list-style: none;
    border-right:1px solid #e5e9ef;
    width:100px;
}
.live-panel-leftitem{
    display:block;
    position: relative;
    overflow:hidden;
    font-size: 12px;
    line-height: 20px;
}
.live-panel-leftitem:hover{
    background-color: #e5e9ef;
}
.live-panel-leftitem:hover .live-panel-leftlink{
 transform:translateX(10px);
}
.live-panel-leftlink{
    position:relative;
    padding:5px 20px 5px 5px;
    white-space: nowrap;
    text-decoration: none;
    color:black;
    display:inline-block;
    left:20px;
    transition:all 0.3s ease;
}
.live-panel-leftlink span{
    display: inline-block;
}

.leftArrow{
    position:absolute;
    display:inline-block;
    width:18px;
    height:20px;
    left:-6px;
    top:8px;
    background: url("icons2.png") 0 -1621px no-repeat;
}

.rightArrow{
    position: absolute;
    display: inline-block; 
    width:18px;
    height:20px;
    right:-100px;
    top:5px;
    background: url("icons2.png") 0 -1581px no-repeat;
    transition:all 0.3s ease;
}
.live-panel-leftitem:hover .rightArrow{
    right:-2px;
}
.live-panel-right{
    position:absolute;
    right:20px;
    top:20px;
    width:210px;
    height:250px;
   
}
.picvideo{
    position:relative;
    display:inline-block;
    width:100%;
    height:100px;
    text-decoration: none;
}
.picvideo img{
    width:100%;
    height:100px;
    margin: 15px 0 15px 0;
} 
/*slide CSS*/

#slide{
    position:relative;
    height:220px;
    padding-bottom:50px;
}
.slide-container{
    float:left;
    position:relative;
    width:440px;
    height:220px;
    overflow:hidden;
    border-radius: 6px;
    margin:0;
    left:0;
    top:0;
}
.original-location{
    position:absolute;
    left:0;
    top:0;
    width:440px;
    height:220px;
    display:block;
    text-decoration: none;
}
.original-location{
    width:100%;
    height:100%;
}

.imgslide-fade-enter-active {
    transition: all .3s ease;
  }
.imgslide-fade-leave-active {
    transition: all .3s ease;
  }
.imgslide-fade-enter 
  /* .slide-fade-leave-active for below version 2.1.8 */ {
    transform: translateX(440px);
    opacity: 0;
  }
  .imgslide-fade-leave-to{
    transform: translateX(-440px);
    opacity: 0;
  }
  .imgslide-fade-right-enter-active {
    transition: all .3s ease;
  }
.imgslide-fade-right-leave-active {
    transition: all .3s ease;
  }
.imgslide-fade-right-enter 
  /* .slide-fade-leave-active for below version 2.1.8 */ {
    transform: translateX(-440px);
    opacity: 0;
  }
  .imgslide-fade-right-leave-to{
    transform: translateX(440px);
    opacity: 0;
  }

  .slide-title{
      position:absolute;
      width:100%;
      height:35px;
      bottom:0;
      left:0;
      z-index:2;
  }
  .slide-trigger{
      position:absolute;
      right:20px;
      bottom:8px;
      list-style: none;
      z-index:3;
      margin:0;
      padding:0;
      z-index:3;
  }
  .slide-trigger-item{
      position:relative;
      display:inline-block;
      width: 18px;
      height: 18px;
      margin-left:8px;
      border-radius: 18px;
      background-color:lightgrey;
  }
  .slide-trigger-item:hover{
      cursor:pointer;
      width:18px;
      height:18px;
      background-position: -919px -790px;
      background-color: transparent;
      background-image:url("backgroundIcon.png");
  }
  .eat-pic{
    position:relative;
    display:inline-block;
    width: 18px;
    height: 18px;
    margin-left:8px;
    background-image:url("backgroundIcon.png");
    background-position: -855px -727px;

  }
  .slide-title-link{
      text-decoration: none;
      color:white;
      height:35px;
      line-height: 35px;
      font-size: 15px;
      padding:0 6px 0 6px;
      background-color: black;
      opacity:0.8;
  }
  .slide-more-info{
      position: absolute;
      right: 15px;
      bottom: 35px;
      display:inline-block;
      background-color: black;
      opacity: 0.7;
      color:white;
      text-decoration: none;
      width: 50px;
      height: 24px;
      line-height: 24px;
      text-align: center;
      border-radius: 4px;
      font-size:12px;
      display:none;
      transition:all 0.2s ease;
      transition-delay: 1s;
  }
  .slide-more-info::after{
        content: "";
        display: inline-block;
        width: 6px;
        height: 12px;
        margin: -2px 0 0 5px;
        vertical-align: middle;
        background: url("backgroundIcon.png") -541px -218px;
  }
  .slide-container:hover .slide-more-info{
    display:block;
  }
/*在轮播图右侧的那个东西*/
.recommend-panel{
 position:relative;
 height:220px;
 overflow: hidden;
 /*如果加了float:left;那么recommend-card太多，就会让recommend panel跑到下一行
 而不是多余的recommend-card被隐藏*/
}
.recommend-card{
    width: 160px;
    height: 100px;
    position: relative;
    overflow: hidden;
    border-radius: 4px;
    background: #fff;
    margin:0 0 20px 20px;
    float:left;
}
.clearfix{
zoom:1;
}
.clearfix:after,.clearfix:before{
    content:"";
    display:table;
}
.clearfix:after{
clear:both;
overflow: hidden;
}
.img-card{
 width:160px;
 height:100px;
}
.card-mark{
    position: absolute;
    left: 0;
    top: 68px;
    width: 150px;
    font-size: 12px;
    height: 20px;
    line-height: 20px;
    padding: 10px 5px;
    overflow: hidden;
    background: linear-gradient(transparent,rgba(0,0,0,.1) 20%,rgba(0,0,0,.2) 35%,rgba(0,0,0,.6) 65%,rgba(0,0,0,.9));
}
.title,.author,.viewcount{
    padding:0;
    margin:0;
}
.title{
 color:white;
 width:100%;
 height:40px;
 overflow:hidden;
 margin-bottom:5px;
 word-break:break-all;
 word-wrap:break-word;
}
.author,.viewcount{
    opacity: 0;
    color: #99a2aa;
    height: 20px;
    line-height: 20px;
    width:100%;
    overflow: hidden;
    transition:all .6s ease;
}
.recommend-card:hover .card-mark{
    top:0;
    height:100%;
    background: rgba(0,0,0,.7);
}
.recommend-card:hover .author, .recommend-card:hover .viewcount{
opacity:1;
}
.later-watch{
    display: none;
    width: 22px;
    height: 22px;
    position: absolute;
    right: 6px;
    bottom: 4px;
    cursor: pointer;
    background-image: url("clock.gif");
}
.recommend-card:hover .later-watch{
    display:block;
}
.watch-tip{
    position:absolute;
    top:-34px;
    left:-22px;
    font-size: 12px;
    height:22px;
    line-height: 22px;
    width:50px;
    border-radius: 2px;
    background-color: black;
    color:white;
    opacity:0.7;
    display:none;
    text-align:center;
}
.later-watch:hover .watch-tip{
    display:block;
}
.review-btn{
    opacity: 0;
    position: absolute;
    background-color: rgba(0,0,0,.6);
    background-image: url("icons2.png");
    background-repeat: no-repeat;
    width: 20px;
    top: 50%;
    margin-top: -8px;
    cursor: pointer;
    font-size: 12px;
    color: #fff;
    text-align: center;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}
.review-btn.pre{
    left: 20px;
    border-radius: 0 4px 4px 0;
    padding: 13px 5px 13px 10px;
    background-position: 6px -1211px;
}
.review-btn.next{
    right: 0;
    border-radius: 4px 0 0 4px;
    padding: 13px 10px 13px 5px;
    background-position: 25px -1262px;
}
.recommend-panel:hover .review-btn{
    opacity:1;
}

/*css for the header */
.backgroundimg{
    position: relative;
    z-index:1000;
    width:100%;
    height:42px;
    background-image: url("background.png");
    background-position: center -10px;
}
.mask{
    position:absolute;
    left:0;
    top:0;
    width:100%;
    height:100%;
    background-color: rgba(0,0,0,.4);
}
.bili-header{
    position:relative;
    padding:0;
    margin:0;
}
.left-header{
    float:left;
}
.left-header ul{
    list-style: none;
    margin:0;
    padding:0;
}
.left-header-item{
    float:left;
    position:relative;
    font-size: 12px;
    height:42px;
    text-align: center;
    line-height: 42px;
    background-color: hsla(0,0%,100%,0);
    /*H（Hue）：代表色调，S（Saturation）：代表饱和度，L（Lightness）：代表亮度，（A（Alpha）：代表不透明度）*/
}

.bili-icon{
background-image: url("backgroundIcon.png") ;
}
.homeicon{
position:absolute;
width:17px;
height:14px;
display:inline-block;
background-position: -855px -88px;
left:3px;
top:13px;
}
.home{
    margin-left: -4px;
    padding-left: 12px;
}
.left-header-item:hover{
    background-color: hsla(0,0%,100%,.3);
}
.left-header-link{
    text-decoration: none;
    height:100%;
    padding:0 11px;
    display:block;
    color:white;
}
.right-header-upload{
    float:right;
    position: relative;
    width:58px;
    height:42px;
}
.upload-link{
    display: block;
    width:100%;
    height:48px;
    background-color:palevioletred;
    line-height: 42px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    text-decoration: none;
    text-align: center;
    color:white;
    font-size:14px;
}
.upload-link:hover{
    opacity: 0.8;
}
.user-menu{
    float:right;
    position:relative;
}
.user-menu-first{
    float:left;
    position: relative;
    height:42px;
}
.user-menu-first a{
 padding:0 11px;
 display:block;
}

.user-pic{
    width:42px;
    height:42px;
    border-radius: 42px;
}
.backimglink{
    position:relative;
    width:100%;
    height:170x;
    margin-top:-42px;
    background-image: url("background.png");
    background-position: center -10px;
    z-index:100;
}
/*css for bilibili logo and rank search.*/
.head-content{
 position:relative;
 height:170px;
}
.head-logo{
    position: absolute;
    width:220px;
    height:105px;
    left:24px;
    top:55px;
    background: transparent no-repeat 0;
    z-index: 10;
    background-image: url("bilibili_logo.webp");
}
.search{
    position: absolute;
    bottom:20px;
    right:0;
    width:268px;
    height:32px;
    padding: 2px 2px 2px 72px;
    border-radius: 6px;
    font-size: 12px;
}
.link-ranking{
    position: absolute;
    left: 2px;
    top:2px;
    height:32px;
    line-height: 32px;
    width:68px;
    background-color: white;
    border-radius: 4px;
    text-decoration: none;
    color:red;
    opacity: 0.8;
}
.link-ranking:hover{
    opacity: 1;
}
.link-ranking span{
    padding-left:26px;
    width:32px;
    background: url("backgroundIcon.png") -659px -665px no-repeat;
}
.searchPanel{
    position:relative;
    width:268px;
    height:32px;
    background-color: white;
    border-radius: 4px;
    opacity: 0.8;
}
.searchPanel:hover{
    opacity: 1.0;
}
.searchInput{
    position: relative;
    width:200px;
    height: 32px;
    line-height: 32px;
    font-size: 16px;
    overflow: hidden;
    padding: 0 12px;
    outline: none;
    border:none;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
    display: inline-block;
}
.submitButton{
    
    position: relative;
    background: url("backgroundIcon.png") -653px -720px;
    width:40px;
    height:32px;
    display: inline-block;
    outline: none;
    border:none;
    vertical-align: middle;
    padding:0;
    cursor:pointer;
    top:-3px;
}
.submitButton:hover{
    background: url("backgroundIcon.png") -718px -720px;
}
/*搜索历史专用CSS */

.showstatus{
    position:absolute;
    left:0;
    top:34px;
    list-style-type:none;
    background-color:white;
    padding:0 14px;
    border-radius: 4px;
  }
  .list-tip{
    position:relative;
    line-height:30px;
    width:240px;
    word-wrap:break-word;
  }
  .list-item{
    position:relative;
    line-height:30px;
    width:240px;
    word-wrap:break-word;
  }
  .base-line{
    position:relative;
    border-top:1px solid grey;
    height:20px;
    position:relative;
    width:100%;
    margin-top:10px;
  
  }
  .history-tip{
    position:relative;
    line-height:20px;
    height:20px;
    background-color:white;
    margin:0 auto;
    text-align:center;
    bottom:10px;
    padding:0 10px;
    display:block;
    width:70px;
    font-size:12px;
    color:grey;
  }
  .list-item:hover{
    background-color:grey;
    cursor:pointer;
  }
  .search-link-style{
    text-decoration:none;
    color:black;
    position:relative;
    left:0;
    width:220px;
    word-wrap:break-word;
    display: inline-block;
    line-height: 20px;
  }
  
  .cancel{
    background: url(//static.hdslb.com/images/base/icons.png) -461px -530px no-repeat;
    width:38px;
    height:28px;
    position:absolute;
    right:0;
    display:inline-block;
    cursor:pointer;
  }
  .cancel:hover{
    background: url(//static.hdslb.com/images/base/icons.png) -525px -530px no-repeat;
  }
  .list-leave-active{
      transition:all 1s;
  }
  .list-leave-to{
      opacity: 0;
      transform:translateX(-100px);
  }

/*css for game panel.*/
.game-panel{
    position: absolute;
    top:42px;
    left:0;
    width:468px;
    height:260px;
    background-color:lavender;
    border-radius: 6px;
    opacity:1;
}
.game-panel-enter-active{
  transition: all 0.2s ease;
  transition-delay: 0.2s;
}
.game-panel-leave-active{
 transition:all 0.1s ease;
}
.game-panel-enter,.game-panel-leave-to{
 transform:translateY(20px);
 opacity:0;
}

.left-game-panel{
    position:absolute;
    width:268px;
    height:100%;
    top:0;
    left:0;
}
.leftup-game-panel{
    position:relative;
    width:240px;
    height:130px;
    left:12px;
    top:12px;
    text-decoration: none;
    display:block;
}
.leftup-game-panel img{
    width:100%;
    height:100%;
}
.small-game-list{
    position:relative;
    list-style: none;
    top:20px;
}
.small-game-item{
    position:relative;
    float:left;
    height:110px;
}
.small-game-item:hover{
    background-color:lightblue;
}
.small-game-link{
    text-decoration: none;
    padding:0px 12px;
    display:block;
    height:100%;
    color:black;
}
.small-game-link img{
    width:64px;
    height:64px;
    border-radius: 4px;
    display:block;
    margin:5px 0;
}
.game-desc{
    margin:0;
    text-align: center;
    width:64px;
    font-size: 12px;
    height:24px;
    line-height: 24px;
}
.right-game-panel{
    position:absolute;
    right:0px;
    width:200px;
    top:12px;
    height:236px;
    background: url("line.png") 0 0 no-repeat;
}
.rightup-game-list{
    position:absolute;
    top:30px;
    left:5px;
    list-style: none;
    width:195px;
    font-size: 14px;
    line-height: 26px;
}
.rightup-game-item{
    display:block;
    width:100%;
}
.rightup-game-item:hover{
    background-color: lightblue;
}
.rightup-game-link{
    text-decoration: none;
    color:black;
    width:100%;
    display:inline-block;
    padding:2px 0 2px;
}
.rightup-game-link span{
    font-size: 14px;
    line-height: 26px;
    height:26px;
    margin-left:20px;
    text-align: left;
    position:relative;
    display:block;
}
.rightup-game-panel{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:28px;
}
.rightup-game-img{
    position:relative;
    float:left;
    width:104px;
    height:28px;
}
.forum-link{
    float:right;
    position: relative;
    right:5px;
    text-decoration: none;
    color:royalblue;
    font-size: 12px;
    height:28px;
    line-height: 28px;
}
/*css for upload item */
.upload-item{
    margin:0;
    padding:0;
    display:block;
    position:absolute;
    top:42px;
    right:0;
    list-style: none;
    width:360px;
}
.upload-item li{
    float:left;
    position: relative;
    color:pink;
    cursor:pointer;
    width:72px;
    height:64px;
    background-color:white;
    text-align: center;
    font-size: 12px;
}
.upload-item li:hover{
    background-color:lightcyan;
}
.upload-item li:hover .rect{
    transform: translateY(-2px);
}
.rightup-pic{
    position: absolute;;
    top:40px;
    left:440px;
    height:220px;
    width:220px;
}
.rightup-pic img{
    width:100%;
    height:100%;
}



.upload-item li a{
    width:100%;
    height:100%;
    display: block;
    color: #f25d8e;
    width:100%;
    height:100%;
    text-decoration: none;
}
.rect {
    display:block;
    width:20px;
    height:20px;
    margin:15px auto 2px;
    transition:0.2s;
}
.art{
    background-position: -534px -919px;
}
.audio{
    background-position: -534px -983px;
}
.video{
    background-position:-471px -919px;
}
.vote{
    background-position: -471px -982px;
}
.creation{
    background-position: -471px -1751px;
}

/*css for live panel in header */
.header-live-panel{
    position:absolute;
    top:42px;
    left:0px;
    width:528px;
    height:266px;
    background-color: lavender;
    border-radius: 6px;
    overflow: hidden;
    line-height: 0;
    /*line height inherited from the left-header-item
    will change the distanbe between the vertical elements.
    no margin/padding will show that.*/
}
.header-live-lf{
    float:left;
    width:254px;
    position:relative;
    
   
}
.header-live-rf{
    position:relative;
    width:250px;
    float: right;
}
.live-title{
    position:relative;
    left:20px;
    height:20px;
    line-height: 20px;
    font-size: 14px;
    color:palevioletred;
    text-align: left;
}
.hot-live{
    position: relative;
    margin:0;
    padding:0;
    width:100%;

}
.hot-live-item{
    margin-left:10px;
    margin-top:10px;
    display:inline-block;
    text-decoration: none;
    position: relative;
}
.hot-live-item img{
    width:70px;
    height:70px;
    border-radius: 70px;
    display:block;
}
.hot-live-item span{
    height:20px;
    line-height: 20px;
    font-size: 12px;
    display:block;
    text-align: center;
    width:70px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin:0;
}
.hot-live-item i{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    overflow: hidden;
    background: rgba(0,0,0,.5);
    font-style: normal;
    font-size: 15px;
    color: #fff;
    text-indent: 22px;
    line-height: 70px;
    font-weight: 700;
    cursor: pointer;
    animation: scale-in-ease cubic-bezier(.22, .58, .12, .98) .5s;
}
.hot-live-item i:before{
    position: absolute;
    left: 7px;
    top: 29px;
    content: "";
    width: 12px;
    height: 12px;
    background: #ff699e;
    border-radius: 50%;
    overflow: hidden;
}
.hot-live-item:hover i{
    display:block;
}
.header-live-activity{
  position:relative;
  width:100%;
  height:210px;
  border-left:1px solid grey;
}
.header-live-activity a{
text-decoration: none;
display:inline-block;
padding:10px 20px;
}
.header-live-activity img{
    width:208px;
    height:80px;
    margin-left:1px;
}
.header-live-activity a:hover{
    background-color: #eaeaea;
}

@keyframes scale-in-ease {
0% {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}
50% {
    -webkit-transform: scale(1);
    transform: scale(1);
}
100% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}
}
/*css for previes of video */
.movable-pic-container{
    position:absolute;
    left:0;
    top:0;
    width:160px;
    height:100px;
    background-color: black;
    border-radius: 6px;
    overflow: hidden;
    display:none;
}
.percent-bar{
    position:absolute;
    height:2px;
    background-color: gray;
    width:90%;
    margin:4px 5%;
}
.percent{

    height:100%;
    width:0;
    background-color: white;
}
.movable-pic{
  position:absolute;
  top:10px;
  left:0;
  width:160px;
  height:90px;
  /*background:url("movablepic.webp") 0 0 no-repeat;*/
  overflow: hidden;
}
.row-bullet{
    position:absolute;
    white-space: nowrap;
    height:12px;
    line-height: 12px;
    font-size: 12px;
    color:white;
    left:100%;
    top:8px;
    z-index:5;
    margin:0;
    cursor:pointer;
}
.second-row{
   top:22px;
}

.video-container{
    position:absolute;
    width:160px;
    height:100px;
    top:400px;
    left:600px;
    border-radius: 6px;
    overflow: hidden;
}
.video-container img{
    width:100%;
    height:100%;
   
}
.video-container:hover .movable-pic-container,.video-container:hover .later-watch{
    display:block;
}

/*css for text vue component*/
#movable{
    position:absolute;
    left:400px;
    height:300px;
    width:1000px;
    height:500px;
}
.first-example{
    position:absolute;
    left:0px;
    top:0;
}

@media screen and (max-width: 1400px){
    .bili-wrapper{
        width:980px;
    }
    .horizontal-list{
        margin-right:9px;
    }
}












